#bodyy {

	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: 100% 100%;
	}


#titleh {
	margin-top: 5%;
	position: fixed;
	margin-left: 43%;
}

#title1  {
	color: #d21515;
	text-align:center;
	font-size: 60px;
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 5px;
}

#square1 {
  height: 8px;
  width: 100px;
  background-color: #d21515;
  margin: auto;
  margin-bottom: 20px;
}

#title2 {
	color: white;
	text-align: center;
}

#square2 {
  position: fixed;
  height: 470px;
  width: 20px;
  background-color: #d21515;
  margin-top: 10%;
}

#square3 {
  position: fixed;
  height: 150px;
  width: 300px;
  background-color: black;
  margin-top: 30%;
  margin-left: 15%;
  opacity: 0.4;
  border-radius: 40px;
}

#square4 {
  position: fixed;
  height: 150px;
  width: 320px;
  background-color:black;
  margin-top: 30%;
  margin-left: 65%;
  opacity: 0.4;
  border-radius: 40px;
}

#square5 {
  position: fixed;
  height: 40px;
  width: 300px;
  background-color: #d21515;
  margin-top: 30%;
  margin-left: 15%;
  border-radius: 40px;

  opacity: 0.9;
}

#square6 {
  position: fixed;
  height: 40px;
  width: 320px;
  background-color: blue;
  background-color: #d21515;
  margin-top: 30%;
  margin-left: 65%;
  border-radius: 40px;

  opacity: 0.9;
}

#t5 {
	margin-left: 20%;
	color: black;
	font-size: 25px;
  font-family: bold;
}

#t6 {
	margin-left: 15%;
	color: black;
	font-size: 25px;
  font-family: bold;
}

#des5 {
position: fixed;
margin-top: 33%;
  margin-left: 16%;
  color: white;
  text-align: center;
  font-size: 16px;
}

#des6 {
position: fixed;
margin-top: 33%;
  margin-left: 65%;
color: white;
text-align: center;
font-size: 16px;
}


